<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">


        <ul class="nav navbar-nav">
          <li> <form action="/login" method="get">
           <button>Home</button>
          </form> </li>
          <li>  <form action="" method="post">
           <button>logout</button>
          </form>
        </li>
        </ul>

    </div>
</nav>
